<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="regConnectionString" connectionString="Data Source=SUHAS\SQLEXPRESS;Initial Catalog=reg;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="regConnectionString2" connectionString="Data Source=SUHAS\SQLEXPRESS;Initial Catalog=reg;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
</configuration>